@charset "UTF-8";
@import 'base';

.container{
    position: absolute;
    transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(240px);
    transform-style: preserve-3d;
    transform-origin: -50% -50% 0px;
    opacity: 1;
    display: block;
    left:40%;top:0;
    img{
        position:absolute;
        width: 150px;
        display: block;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 0;
    }
}
